{% extends "base.html" %}

{% block content %}
<h1>Добро пожаловать на страницу проекта Timetable!</h1>
<h2>Просмотр расписания</h2>
{% if current_user.is_authenticated == 0 %}
    <a href="/register">
        <button type="button" class="btn btn-primary">Регистрация</button>
    </a>
    <a href="/login">
        <button type="button" class="btn btn-success">Вход</button>
    </a>
{%else%}
    <input type="date" id="start" name="trip-start" value={{curr_date}} min="2023-01-01" max="2026-12-31" />
{%endif%}
{% for item in news%}
<div class="col-md6 border rounded">
    <h2>{{item.title}}</h2>
    <div>
        {{item.content}}
    </div>
    <div>
        Автор - {{item.user.name}}, Дата написания - {{item.created_date}}
    </div>

</div>
{% endfor %}
{% endblock %}