{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated == 0 %}
    <h1>Welcome to "Timetable" project!</h1>
    <a href="/register">
        <button type="button" class="btn btn-primary">Sign up</button>
    </a>
    <a href="/login">
        <button type="button" class="btn btn-success">Log in</button>
    </a>
{%else%}
    <h1>View schedule</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.date.label }}<br>
            {{ form.date(class="form-control", type="date", value = curr_date)}}<br>
            {% for error in form.date.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
    {% if timetable_is_not_found == 1 %}
    <h3>This day's schedule for your group isn't found :(</h3>
    {% elif button_not_pushed == 0 %}
    <table>
        <caption>
            Schedule of {{group}} group for {{date}}
        </caption>
          <thead>
            <tr>
              <th scope="col">Time</th>
              <th scope="col">Subject</th>
              <th scope="col">Place</th>
            </tr>
          </thead>
          <tbody>
            {% for list in user_timetable %}
                <tr>
                    {% for item in list %}
                        <td>{{item}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
          </tbody>
        </table>
        <a href="/download_timetable">
        <button type="button" class="btn btn-success">Download as file</button>
    </a>
    {% endif %}
{% endif %}
{% endblock %}