{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated == 0 %}
    <h1>Добро пожаловать на страницу проекта Timetable!</h1>
    <a href="/register">
        <button type="button" class="btn btn-primary">Регистрация</button>
    </a>
    <a href="/login">
        <button type="button" class="btn btn-success">Вход</button>
    </a>
{%else%}
    <h1>Просмотр расписания</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.date.label }}<br>
            {{ form.date(class="form-control", type="date", value = curr_date)}}<br>
            {% for error in form.date.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
    {% if timetable_is_not_found == 1 %}
    <h3>Расписание для вашей группы на сегодня не найдено</h3>
    {% elif button_not_pushed == 0 %}
    <table>
        <caption>
            Расписание группы {{group}} на {{date}}
        </caption>
          <thead>
            <tr>
              <th scope="col">Время</th>
              <th scope="col">Занятие</th>
              <th scope="col">Место проведения</th>
            </tr>
          </thead>
          <tbody>
            {% for list in user_timetable %}
                <tr>
                    {% for item in list %}
                        <td>{{item}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
          </tbody>
        </table>

    {% endif %}
{% endif %}
{% endblock %}